
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


/* first part */
div.first-part {
    background-color: #1f2937;
    width: 100vw;
    height: 33vw;
}

/* nav bar */
.nav {
    display: flex;
    gap: 1vw;
    justify-content: space-between;
    margin-right: 20vw;
    margin-left: 20vw;
    padding-top: 2vw;
    flex-wrap: wrap;
}

.nav-logo-container {
    display: flex;
    align-items: center;
}

.nav-logo-container a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 1.5vw;
}

nav .nav-items {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 1.2vw;
}

.nav-items-container {
    display: flex;
    gap: 6vw;
    flex-wrap: wrap;
    align-items: center;
}

/* hero content */
.hero-container {
    display: flex;
    justify-content: space-between;
    margin: 0 20vw;
    margin-top: 5vw;
    flex-wrap: no-wrap;
}

.hero-content {
    width: 20vw;    
}

.hero-content h1 {
    margin-top: 0;
    padding-bottom: 2vh;
    color: #f9faf8;
    font-size: 2vw;
}

.hero-content p {
    color: #e5e7eb;
    padding-bottom: 2vw;
    font-size: 1vw;
}

.hero-content button {
    display: flex;
    min-width: fit-content;
    padding: 0.5vw 1vw;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: 0px;
    font-size: 1vw;
}



/* hero image */
.image-placeholder img {
    display: flex;
}

.hero-image {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    max-width: 32vw;
}


/* second part css */
.second-part {
    width: 100%;
    height: 25vw;
}

.second-part p {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 500;
}

.second-part div p {
    font-size: 1vw;
}

.charater-gallery {
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding-top: 1vw;
    
}
.charater-gallery div  {
    width: 15vw;
    height: 15vw;
    max-width: 100%;

}

.charater-gallery div img {
    width: 100%;
    border-radius: 8px;
}

div div .charater-info {
    font-size: 0.8vw;
    font-weight: 300;
}